@import "./variables.scss";

$base-color: #3b8272;
$percentage: 15;

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: 0.8s opacity ease-out;
}

.projectCard {
  transition: all 0.5s ease;
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: 143px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  justify-content: center;

  @for $i from 2 to 16 {
    $percentage: $i * 10;

   &:nth-child(#{$i}) {
      background-color: adjust-hue( $base-color, $percentage );
    }
  }

  // NOTE: For the transitioning elements in the <transition-group> tag (e.g. this 'projectCard__gallery')
  // One important note is that these FLIP transitions do not work with elements set to display: inline.
  // As an alternative, you can use display: inline-block or place elements in a flex context.
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &--selected {
    position: fixed;
    top: calc(50vh - 250px);
    z-index: 201;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    margin: 0 auto;
  }
}

.projectView {
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .5);
    color: $white;
    z-index: 200;
  }
}
