$title: #d1ff53;
$activeLink: #E6FF65;
$selectedMenu: #d6ff00;
$paleLink: #c4ffc0;
$linkUnderline: #3b8272;
$dashedLine: $linkUnderline;
$black: #231f20;
$white: #fff;

$boxShadow: 0px 0px 10px 4px $paleLink;
$buttonSize: 55px;

$easeInOut: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$inCubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);
